*{
    padding: 0%;
    margin: 0%;
    
}
.side-icon{
   
    background-color: transparent;
    background-color:rgba(255,255,255,.4);
    width:52px;
    height: 52px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.head-row{
    height: 50px;
}
.header-logo{
    width: 143px;
    height: 143px;
}

.head-button{
    background-color:rgba(255, 255, 255, 0.8);
    /* color: #FFFFFF; */
    border-radius:25px;
    padding: 10px 20px;
    /* text-align: center; */
     cursor: pointer;
     height: 50%;
    
    
    
}

.btn1{
    background-color:rgba(75, 75, 75, 1);
    text-decoration: none;
    font-family: 'regular-pp';
    color: #FFFFFF;
    width:100% ;
    
    border-radius: 10.97px;
    text-align: center;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    padding: 10px 14px;
    font-size: 12px;
    
    
    

}
.btn2{
    background-color:rgba(75, 75, 75, 1);
    text-decoration: none;
    font-family: 'regular-pp';
    color: #FFFFFF;
   
    border-radius: 10.97px;
    border: 1px solid #FFFFFF;
    text-align: center;
    cursor: pointer;
    padding-top: 8px;
    font-size: 12px;
    margin-left: 2px;
}
.btn1:hover,.btn2:hover{
    background-color:rgba(61, 153, 180, 1);
    color: #FFFFFF;
}
.active{
    background-color: rgba(61, 153, 180, 1);
    
    
}

.head-icon{
   
    width: 30px;
    height: 24px;
    color:rgba(0, 0, 0, 1);
}
.group-icon{
   
    background-color: transparent;
    background-color:#FFFFFF;
    
    width:52px;
    height: 52px;
    border-radius: 50%;
    
    border: 1px solid #FFFFFF;
}
.header-admin{
    background-color: rgba(255, 255, 255, 0.8);
    
    border-radius: 35px;
}
.side-head1{
    background-color: rgba(255, 255, 255, 0.8);
    
}
.head-icon1{
    width: 30px;
    height: 24px;
    

}
/* @media only screen and (max-width: 1024px) {
    .header-hide{
        display: block;
    }
  } */@media only screen and (max-width: 768px) {
    /* .head-body {
        background-color: rgba(255, 255, 255);
    } */
  }
.title{
    font-family: 'regular-pp';
   
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
}
.menu-icon{
    margin-right: 20px;
}



@font-face {
    font-family: 'regular-pp';
    src: url('/src/assests/fonts/PPMori-Regular.otf') format('opentype');
}
.menu-butn{
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: inherit;
}
.pro-fi{
    width:177px;
    height: 66px;
    background-color:rgba(255, 255, 255, 1);
    border-radius: 61px;
    padding-right: 12px;
    padding-left:12px ;
    
}
.pro-name{
    font-family: 'bold-pp';
    font-size: 15px;
    color: rgba(16, 20, 26, 1);
    margin-top: 10px;
    
    height: 20px;
   
}
.pro-admin{
    font-family: 'LufgaSans-regular';
    font-size: 12px;
    color: rgba(164, 164, 164, 1);
    
   
}
.pro-img{
    width: 54x;
    height: 54px;
    border-radius: 50%;
    margin-top: 6px;
}


/* menu */
.header-menu{
    
    background-color: black;
    color: #FFFFFF;
    
   
}


@font-face {
    font-family: 'bold-pp';
    src: url('/src/assests/fonts/PPMori-SemiBold.otf') format('opentype');
}

/* .Active{
    background-color: rgba(61, 153, 180, 1);
} */


.side-menu{
    width: 150px;
    height: 300px;
    z-index: 2;
   background-color: rgba(61, 153, 180, 1);
   
    
   
}
.menu-button{
    width: 52px;
    height: 52px;
    margin-right: 10px;
}


@media screen and (max-width: 1025px) {
    
    .head-button{
       width: 100%;
        padding: 8px 14px;
        margin-top: 6%;
        
        
    }
   
    .btn1{
     font-size: 10px;
     
       
    }
    .side-head{
        width: 75%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 28%;
    }
    
   
}
@media screen and (max-width: 768px) {
    
   .title{
    margin-right:50px;

   }
    
   
}

   


