*{
    padding: 0%;
    margin: 0%;
    
}


.side-icon{
   
    background-color: transparent;
    background-color:rgba(255,255,255,.4);
    width:52px;
    height: 52px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.head-row{
    height: 50px;
}
.header-logo{
    
    width: 143px;
    height: 59px;
    
}
.head-bot1{
    background-color:rgba(255, 255, 255, 0.8);
    color: #FFFFFF;
    border-radius:25px;
    padding: 10px 30px;
    text-align: center;
    margin-top: 28px;
    cursor: pointer;
    margin-left: 70px;
    width: 90%;
    
}   

.btn1{
    background-color:rgba(75, 75, 75, 1);
    text-decoration: none;
    font-family: 'regular-pp';
    color: #FFFFFF;
    
    border-radius: 10.97px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    padding: 8px 14px;
    font-size: 12px;
    margin-left: 5px;
    
    

}
.btn2{
    background-color:rgba(75, 75, 75, 1);
    text-decoration: none;
    font-family: 'regular-pp';
    color: #FFFFFF;
   
    border-radius: 10.97px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    padding-top: 8px 14px;
    font-size: 12px;
    margin-left: 5px;
}
.btn1:hover,.btn2:hover{
    background-color:rgba(61, 153, 180, 1);
    color: #FFFFFF;
}
.head-icon{
    margin-top:15px;
    width: 30px;
    height: 24px;
    color:rgba(0, 0, 0, 1);
}
.group-icon{
   
    background-color: transparent;
    background-color:#FFFFFF;
    
    width:52px;
    height: 52px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 1px solid #FFFFFF;
}
.side-headenter{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 35px;
    padding-top: 8px;
    padding-left: 24px;
    padding-bottom: 0px;
    width: 100%;
    /* padding-right: 24px; */
    
   
    
    
  
}

.side-head1{
    background-color: rgba(255, 255, 255, 0.8);
    
}
.head-icon1{
    width: 30px;
    height: 24px;
    
}
@media only screen and (max-width: 1199px) {
    .head-body {
        background-color: rgba(255, 255, 255);
    }
  }
.title{
    font-family: 'regular-pp';
   
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
}
.menu-icon{
    margin-right: 20px;
}



@font-face {
    font-family: 'regular-pp';
    src: url('/src/assests/fonts/PPMori-Regular.otf') format('opentype');
}
.menu-butn{
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: inherit;
}
.pro-fi{
    width:177px;
    height: 66px;
    background-color:rgba(255, 255, 255, 1);
    border-radius: 61px;
    padding-right: 12px;
    padding-left:12px ;
    
}
.pro-name{
    font-family: 'bold-pp';
    font-size: 15px;
    color: rgba(16, 20, 26, 1);
    margin-top: 10px;
    
    height: 20px;
   
}
.pro-admin{
    font-family: 'LufgaSans-regular';
    font-size: 12px;
    color: rgba(164, 164, 164, 1);
    
   
}
.prolo-img{
    width: 54x;
    height: 54px;
    border-radius: 50%;
   
}

@font-face {
    font-family: 'bold-pp';
    src: url('/src/assests/fonts/PPMori-SemiBold.otf') format('opentype');
}