.modula-main{
 width: 96px;
 height: 32px;
 background-color:#FAFBFD;
 border-radius: 8px;
 border: 1px solid rgba(213, 213, 213, 1);
}
.modula-icon-del{
    color: rgba(239, 56, 38, 1);
}

.modula-icon-edit{
    color: rgba(0, 0, 0, 1);
}
.modula-heading{
    background-color:inherit;
    color: rgba(35, 35, 35, 1);
    
    
}

.tr-head-modula{
    border-bottom:none;
    
    border-collapse: collapse;
    height: 50px;
}
.td-modula{
    height: 50px;

}

.error{
    color: rgba(239, 56, 38, 1);
    font-size: 12px;
    border: none;
    text-align: left;
    display: block;
}


.form-control{
    width: 100%;
    
    
    border: 1px solid rgba(213, 213, 213, 1);
    border-radius:14px !important;
    font-size: 14px;
    color: rgba(113, 142, 191, 1 )!important;
    align-items: top !important;
    border: none !important;
    outline: none !important;
}

.form-control1{
  width: 100%;
  
  padding:8px 0px !important; ;
  border: 1px solid rgba(213, 213, 213, 1);
  border-radius:14px !important;
  font-size: 14px;
  color: rgba(113, 142, 191, 1 )!important;
  align-items: top !important;
  border: none !important;
  outline: none !important;
  background-color:#a89e9e47;
   
   }
.form-control.error {
    border: 1px solid rgb(228, 16, 16)!important;
  }
.form-label{
    color:rgba(0, 0, 0, 0.885) !important;
    text-align: center!important;
}
.form-control::placeholder {
    color: rgba(113, 142, 191, 1 )!important;
    
  }

  .form-select{
    width: 100%;
    
  
    border: 1px solid rgba(213, 213, 213, 1);
    border-radius:14px !important;
    font-size: 14px;
    color: rgba(113, 142, 191, 1 )!important;
    align-items: top !important;
    border: none !important;
    outline: none !important;
}
.form-select.error {
    border: 1px solid rgb(228, 16, 16)!important;
  }
  .form-select::placeholder {
    color: rgba(113, 142, 191, 1 )!important;
    
  }


  /* datatable */
  /* table.dataTable thead th, table.dataTable thead td {
    padding: 12px 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #FAFBFD;
    text-align: left;
  }
  table.dataTable tbody td {
    padding: 12px 15px;
    font-size: 14px;
    color: rgba(35, 35, 35, 1);
    border-bottom: 1px solid rgba(213, 213, 213, 1);
  }
  table.dataTable tbody td:last-child {
    border-right: none;
  }
  table.dataTable tbody tr:hover td {
    background-color: rgba(244, 244, 244, 0.5);
  }
  table.dataTable_info {
    display: none;
    padding: 12px 15px;
    font-size: 14px;
    color: rgba(35, 35, 35, 1);
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid rgba(213, 213, 213, 1);
  }
  table.dataTable_paginate {
    margin-top: 15px;
    text-align: right;
    font-size: 14px;
    color: rgba(35, 35, 35, 1);
  }
  table.dataTable_paginate a {
    color: rgba(113, 142, 191, 1);
    border: 1px solid rgba(113, 142, 191, 1);
    padding: 8px 12px;
    border-radius: 8px;
    margin-left: 5px;
  }
  table.dataTable_paginate a.active {
    background-color: rgba(113, 142, 191, 1);
    color: #FFFFFF;
  }
  table.dataTable_length {
    margin-top: 15px;
    font-size: 14px;
    color: rgba(35, 35, 35, 1);
  }
  table.dataTable_filter input {
    width: 200px;
    padding: 8px 12px;
    border-radius: 8px;
    margin-left: 5px;
    border: 1px solid rgba(213, 213, 213, 1);
    color: rgba(113, 142, 191, 1);
  }
  table.dataTable_processing {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    padding: 12px 15px;
    font-size: 14px;
    color: rgba(35, 35, 35, 1);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
  }
   */


.dt-paging-button {
    padding: 5px 10px;
    border: none;
    background-color:rgba(62, 153, 181, 1);
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
   
    
}

.dt-input{
 
  width: 100%;
    
  padding: 10px 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(213, 213, 213, 1);
  border-radius:14px !important;
  font-size: 14px;
  color: rgba(113, 142, 191, 1 )!important;
  align-items: top !important;
  border: none !important;
  outline: none !important;
}
.dt-layout-row{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

th{
  text-align: center !important;
}
tbody{
  text-align: center ;
}
/* .dt-type-numeric {
  text-align:center !important;
} */
/* .dt-orderable-asc .dt-orderable-desc {
  text-align: center !important;
  padding: 5px !important;
  border-bottom: 1px solid #666666 !important;

} */
th{
  height:38px !important;
  align-items: center !important;
  
  
}
td{
  /* padding: 5px 10px; */
  border-bottom: 1px solid #666666 !important;
  text-align:center!important;

}


.dt-type-date{
  text-align: center !important;
}


.view-details-process{
  width: 80%;
  height: 10px;
  border-radius: 50px;
  border: 1px solid rgba(113, 142, 191, 1);
  color: rgba(113, 142, 191, 1);
}

 
@media screen and (max-width:768px) {
  /* .dt-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: rgba(113, 142, 191, 1);
  } */
  table.dataTable_length, table.dataTable_filter input {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .dt-layout-row{
    display: block;
    justify-content: space-between;
  
  }
 
}

.modula-icon-del button {
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modula-icon-del button:hover {
  opacity: 0.9;
}


